@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  padding-top: 77px;
  font-family: "Poppins", sans-serif;
}

* {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}

#home-quote {
  background: url(../img/bg-quote.jpg) center center;
  background-size: cover;
}

.lista-plano li + li {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.lista-plano li {
  padding: 1rem;
}

@media (max-width: 767px) {
  #home-quote .display-4 {
    font-size: 1.875rem !important;
  }
  body {
    padding: 0;
  }

  .fixed-top {
    position: relative !important;
  }
}
